html {
  font-size:100%;
  display:table;
  margin:auto;
}

html,body {
  min-height:100%;
}

body {
  font-family:"Barlow Semi Condensed", sans-serif;
  font-size:0.8125rem;
  font-weight:500;
  background-color:#ecf2f8;
}

body {
  max-width:90rem;
}

.container {
  margin: 5rem 1.5rem;
}

.container {
  margin: 8rem;
}

img{
  border-radius:50%;
}

.testimonials {
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat 2,1fr;
  grid-template-areas:"daniel daniel jonathan kira" "jeanette patrick patrick kira";
  gap:2rem;
  justify-content:center;
  align-content:center
}

.testimonials__daniel,.testimonials__jonathan,.testimonials__patrick {
  color:#fff;
}

.testimonials__jeanette , .testimonials__kira {
  background-color:#fff;
  color:#48556a;
}

.testimonials__daniel {
  grid-area:daniel;
  background-repeat:no-repeat;
  background-position-x:80%;
  background-color:#7541c8;
}

.testimonials__jonathan {
  grid-area:jonathan;
  background-color:#48556a;
}

.testimonials__jeanette {
  grid-area:jeanette
}

.testimonials__patrick {
  grid-area:patrick;
  background-color:#19212e;
}

.testimonials__kira {
  grid-area:kira
}

.grid-item {
  display:grid;
  grid-template-columns:1.875rem 5fr;
  grid-template-rows:repeat(4, auto);
  column-gap:1rem;
  padding:1.5rem 2.1rem;
  border-radius:10px;
  box-shadow:0px 3px 12px rgba(0,0,0,0.15)
}

.grid-item__image {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:3;
  justify-content:center;
}

.grid-item__image img {
  width:1.875rem;
  border:solid 2px #fff;
  background-clip:padding-box;
}

.grid-item__name p , .grid-item__verify p{
  margin:0;padding:0
}

.grid-item__name {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
}

.grid-item__verify {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
  opacity:50%;
}

.grid-item__heading {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:4;
  font-weight:600;
}

.grid-item__paragraph {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:4;
  grid-row-end:5;
  opacity:70%;
}

.attribution {
  display:none;
  font-size:11px;
  text-align:center;
}

.attribution a {
  color:#3e52a3
}
